Repository RaspberryPiFoundation/sauce-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix

.lintstagedrc:

{
  "package.json": "prettier-package-json --write",
  "*.{js,tsx}": "eslint --fix"
}

Storybook 6 upgrade (#29)
  .storybook/main.js
  .storybook/preview-body.html
  docs/01-introduction.stories.mdx
  docs/02-design-principles.stories.mdx
  docs/03-personas.stories.mdx
  docs/04-roadmap.stories.mdx
  docs/for-developers/00-getting-started.stories.mdx
  docs/for-developers/01-dos-and-donts.stories.mdx
  docs/for-developers/02-contributing.stories.mdx
  docs/for-developers/03-development-environment-setup.stories.mdx
  docs/for-developers/04-creating-a-new-component.stories.mdx
  docs/for-developers/05-creating-a-new-release.stories.mdx
  docs/styles/01-typography.stories.mdx
  docs/styles/02-media-queries.stories.mdx
  docs/styles/03-spacing.stories.mdx
  docs/styles/04-layouts.stories.mdx
  package-lock.json
  package.json
  src/components/code-club/button/index.stories.mdx
  src/components/raspberry-pi/break/index.stories.mdx
  src/components/raspberry-pi/button/index.stories.mdx
  src/components/raspberry-pi/card/index.stories.mdx
  src/components/raspberry-pi/image-block/index.stories.mdx
  src/components/raspberry-pi/link/index.stories.mdx
  src/components/raspberry-pi/publication/index.stories.mdx
  src/components/raspberry-pi/type/index.stories.mdx
  src/layouts/container/index.stories.mdx
  src/layouts/section/index.stories.mdx
Due: prettier-package-json --write, eslint --fix

Update all dependencies
  package-lock.json
  package.json
Due: prettier-package-json --write

Remove unnecessary npm script command
  package.json
Due: prettier-package-json --write

Bump version to 1.0.0-alpha.7
  package-lock.json
  package.json
Due: prettier-package-json --write

Update build command
  package.json
Due: prettier-package-json --write

Alright let’s just put it back how it was
  package.json
Due: prettier-package-json --write

v1.0.0 alpha.7 (#31)
  package-lock.json
  package.json
Due: prettier-package-json --write

Trigger a Chromatic diff build
  src/components/raspberry-pi/button/_index.scss
Due: none

Remove widths from body and html elements
  src/elements/main-root/_html.scss
  src/elements/sectioning-root/_body.scss
Due: none

Bump version to 1.0.0-alpha.8
  package-lock.json
  package.json
Due: prettier-package-json --write

Remove min-height from html and body
  src/elements/main-root/_html.scss
  src/elements/sectioning-root/_body.scss
Due: none

Horizontal scroll bug (#38)
  package-lock.json
  package.json
  src/elements/main-root/_html.scss
  src/elements/sectioning-root/_body.scss
Due: prettier-package-json --write

Added support for padded images in Image Block component
  src/components/raspberry-pi/image-block/_index.scss
  src/components/raspberry-pi/image-block/images/compliance.jpg
  src/components/raspberry-pi/image-block/index.stories.mdx
Due: none

Added support for padded images in Image Block component (#40)
  src/components/raspberry-pi/image-block/_index.scss
  src/components/raspberry-pi/image-block/images/compliance.jpg
  src/components/raspberry-pi/image-block/index.stories.mdx
Due: none

Full-width buttons on mobile
  src/components/raspberry-pi/button/_index.scss
Due: none

Use min-width for full width buttons instead
  src/components/raspberry-pi/button/_index.scss
Due: none

Oops, we should use min-width helper for auto too
  src/components/raspberry-pi/button/_index.scss
Due: none

New body heading
  src/components/raspberry-pi/type/_index.scss
  src/components/raspberry-pi/type/body-heading/_index.scss
  src/components/raspberry-pi/type/index.stories.mdx
Due: none

Full-width buttons on mobile (#45)
  src/components/raspberry-pi/button/_index.scss
Due: none

Update webpack config
  package-lock.json
  webpack.config.js
Due: eslint --fix

Add inverted text utility
  src/mixins/_utilities.scss
Due: none

Add inverted text mixin
  src/utilities/_inverted-text.scss
Due: none

Add inverted text link styles
  src/components/raspberry-pi/link/_index.scss
Due: none

Export utilities correctly
  .storybook/preview.scss
  src/utilities/_inverted-text.scss
  src/utilities/_screen-reader-only.scss
  src/utilities/index.scss
Due: none

Add exmaple images
  src/components/raspberry-pi/image-block/images/astro-lg.jpg
  src/components/raspberry-pi/image-block/images/astro-md.jpg
  src/components/raspberry-pi/image-block/images/astro-sm.jpg
  src/components/raspberry-pi/image-block/index.stories.mdx
  src/components/raspberry-pi/link/_index.scss
Due: none

Expand Link docs
  src/components/raspberry-pi/link/_index.scss
  src/components/raspberry-pi/link/index.stories.mdx
Due: none

Add `data-sauce-inverted-text` utility (#47)
  .storybook/preview.scss
  src/components/raspberry-pi/image-block/images/astro-lg.jpg
  src/components/raspberry-pi/image-block/images/astro-md.jpg
  src/components/raspberry-pi/image-block/images/astro-sm.jpg
  src/components/raspberry-pi/image-block/index.stories.mdx
  src/components/raspberry-pi/link/_index.scss
  src/components/raspberry-pi/link/index.stories.mdx
  src/mixins/_utilities.scss
  src/utilities/_inverted-text.scss
  src/utilities/_screen-reader-only.scss
  src/utilities/index.scss
Due: none

Add styles for disabled buttons
  src/components/raspberry-pi/button/_index.scss
Due: none

Add disabled button story
  src/components/raspberry-pi/button/index.stories.mdx
Due: none

Disabled buttons (#49)
  src/components/raspberry-pi/button/_index.scss
  src/components/raspberry-pi/button/index.stories.mdx
Due: none

Add style for full width container
  src/layouts/container/_index.scss
  src/layouts/container/index.stories.mdx
Due: none

Add column-gap and row-gap as valid spacing properties
  lib/_spacing.scss
Due: none

Add layouts mixin file
  src/mixins/_layouts.scss
Due: none

Add warnings to existing layouts
  src/layouts/container/_index.scss
  src/layouts/section/_index.scss
Due: none

Remove layouts warning
  src/layouts/_index.scss
Due: none

Add flex to link element
  src/elements/inline-text-semantics/_a.scss
Due: none

Add flex to button element
  src/elements/forms/_button.scss
Due: none

Add focus styles to link and button components
  src/components/raspberry-pi/button/_index.scss
  src/components/raspberry-pi/link/_index.scss
Due: none

Update storybook
  package.json
Due: prettier-package-json --write
