Repository RaspberryPiFoundation/sauce-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix

.lintstagedrc:

{
  "package.json": "prettier-package-json --write",
  "*.{js,tsx}": "eslint --fix"
}

Replace type-scale use with font-size
  src/components/raspberry-pi/type/hero-heading/_index.scss
  src/components/raspberry-pi/type/lead/_index.scss
  src/components/raspberry-pi/type/meta/_index.scss
  src/components/raspberry-pi/type/primary-heading/_index.scss
  src/components/raspberry-pi/type/secondary-heading/_index.scss
  src/primitives/_heading.scss
Due: none

Bump version to 1.0.0-alpha.10
  package-lock.json
  package.json
Due: prettier-package-json --write

Stub brands directory
  brands/astro-pi/.keep
  brands/code-club/.keep
  brands/code-club/tokens/_color-brand.scss
  brands/coolest-projects/.keep
  brands/hello-world/.keep
  brands/raspberry-pi-trading/.keep
  brands/raspberry-pi/.keep
  brands/raspberry-pi/tokens/_color-brand.scss
  brands/raspberry-pi/tokens/_color-palette.scss
Due: none

update sass references in docs
  docs/styles/01-typography.stories.mdx
  docs/styles/02-media-queries.stories.mdx
  docs/styles/03-spacing.stories.mdx
  lib/_responsive-values.scss
Due: none

Update Storybook preview config
  .storybook/main.js
  .storybook/preview-body.html
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/preview.scss
Due: eslint --fix

Add modern-css-reset package
  package-lock.json
  package.json
Due: prettier-package-json --write

add base styles
  scss/base/_buttons.scss
  scss/base/_code.scss
  scss/base/_document-root.scss
  scss/base/_fonts.scss
  scss/base/_forms.scss
  scss/base/_headings.scss
  scss/base/_links.scss
  scss/base/_lists.scss
  scss/base/_media.scss
  scss/base/_reset.scss
  scss/base/_tables.scss
  scss/base/_text-semantics.scss
  scss/base/_typography.scss
Due: none

update file references in components directory
  scss/components/_index.scss
  scss/components/code-club/_index.scss
  scss/components/code-club/button/_index.scss
  scss/components/code-club/button/index.stories.mdx
  scss/components/raspberry-pi/_index.scss
  scss/components/raspberry-pi/break/_index.scss
  scss/components/raspberry-pi/break/index.stories.mdx
  scss/components/raspberry-pi/button/_index.scss
  scss/components/raspberry-pi/button/index.stories.mdx
  scss/components/raspberry-pi/card/_index.scss
  scss/components/raspberry-pi/card/index.stories.mdx
  scss/components/raspberry-pi/image-block/_index.scss
  scss/components/raspberry-pi/image-block/images/astro-lg.jpg
  scss/components/raspberry-pi/image-block/images/astro-md.jpg
  scss/components/raspberry-pi/image-block/images/astro-sm.jpg
  scss/components/raspberry-pi/image-block/images/christina-lg.jpg
  scss/components/raspberry-pi/image-block/images/christina-md.jpg
  scss/components/raspberry-pi/image-block/images/christina-sm.jpg
  scss/components/raspberry-pi/image-block/images/compliance.jpg
  scss/components/raspberry-pi/image-block/images/coolest-projects-lg.jpg
  scss/components/raspberry-pi/image-block/images/coolest-projects-md.jpg
  scss/components/raspberry-pi/image-block/images/coolest-projects-sm.jpg
  scss/components/raspberry-pi/image-block/index.stories.mdx
  scss/components/raspberry-pi/link/_index.scss
  scss/components/raspberry-pi/link/index.stories.mdx
  scss/components/raspberry-pi/publication/_index.scss
  scss/components/raspberry-pi/publication/index.stories.mdx
  scss/components/raspberry-pi/type/_index.scss
  scss/components/raspberry-pi/type/hero-heading/_index.scss
  scss/components/raspberry-pi/type/index.stories.mdx
  scss/components/raspberry-pi/type/lead/_index.scss
  scss/components/raspberry-pi/type/meta/_index.scss
  scss/components/raspberry-pi/type/primary-heading/_index.scss
  scss/components/raspberry-pi/type/secondary-heading/_index.scss
Due: none

Not sure if we actually need this
  scss/index.js
Due: eslint --fix

Move layouts directory
  scss/layouts/_index.scss
  scss/layouts/container/_index.scss
  scss/layouts/container/index.stories.mdx
  scss/layouts/section/_index.scss
  scss/layouts/section/index.stories.mdx
Due: none

Add properties dierectory
  scss/properties/_color-greyscale.scss
  scss/properties/_font-size.scss
  scss/properties/_font-weight.scss
  scss/properties/_line-height.scss
  scss/properties/_spacing.scss
  scss/properties/_type.scss
Due: none

Move utils directory
  scss/utilities/_inverted-text.scss
  scss/utilities/_screen-reader-only.scss
  scss/utilities/index.scss
Due: none

move and expand tokens
  scss/tokens/_border-radius.scss
  scss/tokens/_border-width.scss
  scss/tokens/_color-greyscale.scss
  scss/tokens/_device.scss
  scss/tokens/_font-family.scss
  scss/tokens/_font-size.scss
  scss/tokens/_font-weight.scss
  scss/tokens/_line-height.scss
  scss/tokens/_shadow.scss
  scss/tokens/_spacing.scss
  scss/tokens/_time.scss
  scss/tokens/_transition.scss
  scss/tokens/_type.scss
Due: none

Add root Sass file
  scss/sauce.scss
Due: none

Move and update primitives
  scss/primitives/_button.scss
  scss/primitives/_heading.scss
  scss/primitives/_link.scss
  scss/primitives/_type.scss
Due: none

Move and update mixins directory
  scss/mixins/_border.scss
  scss/mixins/_clear.scss
  scss/mixins/_color.scss
  scss/mixins/_flex.scss
  scss/mixins/_float.scss
  scss/mixins/_font.scss
  scss/mixins/_gap.scss
  scss/mixins/_grid.scss
  scss/mixins/_list.scss
  scss/mixins/_margin.scss
  scss/mixins/_media.scss
  scss/mixins/_order.scss
  scss/mixins/_overscroll.scss
  scss/mixins/_padding.scss
  scss/mixins/_position.scss
  scss/mixins/_prop.scss
  scss/mixins/_size.scss
  scss/mixins/_text-align.scss
  scss/mixins/_type.scss
  scss/mixins/_utilities.scss
  scss/mixins/border/_border-color.scss
  scss/mixins/border/_border-radius.scss
  scss/mixins/border/_border-style.scss
  scss/mixins/border/_border-width.scss
  scss/mixins/font/_family.scss
  scss/mixins/font/_size.scss
  scss/mixins/font/_weight.scss
  scss/mixins/media/_device.scss
  scss/mixins/media/_display-mode.scss
  scss/mixins/media/_preferences.scss
  scss/mixins/media/_screen.scss
  scss/mixins/media/_viewport.scss
  scss/mixins/size/_height.scss
  scss/mixins/size/_width.scss
  scss/mixins/utilities/_cover.scss
  scss/mixins/utilities/_focus.scss
  scss/mixins/utilities/_inverted.scss
  scss/mixins/utilities/_visually-hidden.scss
Due: none

Add brand directory stubs
  brands/code-club-world/.keep
  brands/raspberry-pi-foundation/.keep
  brands/raspberry-pi-foundation/tokens/_color-brand.scss
  brands/raspberry-pi-foundation/tokens/_color-palette.scss
Due: none

Update storybook preview
  .storybook/preview.scss
Due: none

Add compiled assets for dev
  assets/sauce.min.css
  assets/sauce.min.css.map
Due: none

Update docs file references
  docs/styles/01-typography.stories.mdx
  docs/styles/02-media-queries.stories.mdx
  docs/styles/03-spacing.stories.mdx
Due: none

Add all this stuff
  .nvmrc
  .sauce/_config.scss
  Config Plan.md
  gulpfile.js
  package-lock.json
  package.json
  playroom.config.js
  properties/globals.json
  spec/lib/validation/no-shorthand.spec.scss
  spec/lib/validation/shorthand-present.spec.scss
  tokens/web/scss/.keep
  tokens/web/scss/index.scss
Due: prettier-package-json --write, eslint --fix

Update all dependencies
  .circleci/config.yml
  .nvmrc
  package-lock.json
  package.json
Due: prettier-package-json --write

Swap Renovate for Dependabot
  .github/dependabot.yml
  .renovaterc
Due: none

Fix reset import
  scss/sauce.scss
Due: none

Bump Node to latest lts
  .nvmrc
  .tool-versions
Due: none

Remove comment
  scss/lib/_prop.scss
Due: none

Stripped back components directory
  scss/components/button/_index.scss
  scss/components/button/index.stories.mdx
  scss/components/card/_index.scss
  scss/components/card/index.stories.mdx
  scss/components/code-club/_index.scss
  scss/components/code-club/button/_index.scss
  scss/components/code-club/button/index.stories.mdx
  scss/components/page-kit/_index.scss
  scss/components/publication/_index.scss
  scss/components/publication/index.stories.mdx
  scss/components/raspberry-pi/_index.scss
  scss/components/raspberry-pi/break/_index.scss
  scss/components/raspberry-pi/break/index.stories.mdx
  scss/components/raspberry-pi/card/_index.scss
  scss/components/raspberry-pi/card/index.stories.mdx
  scss/components/raspberry-pi/image-block/_index.scss
  scss/components/raspberry-pi/image-block/images/astro-lg.jpg
  scss/components/raspberry-pi/image-block/images/astro-md.jpg
  scss/components/raspberry-pi/image-block/images/astro-sm.jpg
  scss/components/raspberry-pi/image-block/images/christina-lg.jpg
  scss/components/raspberry-pi/image-block/images/christina-md.jpg
  scss/components/raspberry-pi/image-block/images/christina-sm.jpg
  scss/components/raspberry-pi/image-block/images/compliance.jpg
  scss/components/raspberry-pi/image-block/images/coolest-projects-lg.jpg
  scss/components/raspberry-pi/image-block/images/coolest-projects-md.jpg
  scss/components/raspberry-pi/image-block/images/coolest-projects-sm.jpg
  scss/components/raspberry-pi/image-block/index.stories.mdx
  scss/components/raspberry-pi/link/_index.scss
  scss/components/raspberry-pi/link/index.stories.mdx
  scss/components/raspberry-pi/publication/_index.scss
  scss/components/type/_index.scss
  scss/components/type/hero-heading/_index.scss
  scss/components/type/index.stories.mdx
  scss/components/type/lead/_index.scss
  scss/components/type/meta/_index.scss
  scss/components/type/primary-heading/_index.scss
  scss/components/type/secondary-heading/_index.scss
Due: none

Remove index.js - doesn’t do anything
  scss/index.js
Due: eslint --fix

Remove lib
  scss/lib/_prop.scss
  scss/lib/_responsive-values.scss
  scss/lib/_spacing.scss
  scss/lib/_string.scss
  scss/lib/_throw.scss
  scss/lib/_token.scss
  scss/lib/_type-scale.scss
  scss/lib/_validation.scss
  scss/lib/_value.scss
  scss/lib/_warn.scss
Due: none

Strip back heading primitives
  scss/primitives/_heading.scss
Due: none

Expose tokens as CSS custom properties
  scss/properties/_border-radius.scss
  scss/properties/_border-width.scss
  scss/properties/_color-greyscale.scss
  scss/properties/_color.scss
  scss/properties/_device.scss
  scss/properties/_font-family.scss
  scss/properties/_font-size.scss
  scss/properties/_font-weight.scss
  scss/properties/_line-height.scss
  scss/properties/_spacing.scss
  scss/properties/_transition-duration.scss
  scss/properties/_transition-timing.scss
  scss/properties/_type.scss
  scss/tokens/_border-radius.scss
  scss/tokens/_border-width.scss
  scss/tokens/_color-greyscale.scss
  scss/tokens/_device.scss
  scss/tokens/_font-family.scss
  scss/tokens/_font-size.scss
  scss/tokens/_font-weight.scss
  scss/tokens/_line-height.scss
  scss/tokens/_shadow.scss
  scss/tokens/_spacing.scss
  scss/tokens/_time.scss
  scss/tokens/_transition-duration.scss
  scss/tokens/_transition-timing.scss
  scss/tokens/_transition.scss
  scss/tokens/_type.scss
Due: none

Update utils selectors
  scss/utilities/cover/_index.scss
  scss/utilities/focusable/_index.scss
  scss/utilities/inverted/_index.scss
  scss/utilities/visually-hidden/_index.scss
Due: none

Remove lib specs
  spec/lib/validation/no-shorthand.spec.js
  spec/lib/validation/no-shorthand.spec.scss
  spec/lib/validation/shorthand-present.spec.js
  spec/lib/validation/shorthand-present.spec.scss
Due: eslint --fix

Some base updates
  scss/base/_document-root.scss
  scss/base/_fonts.scss
  scss/base/_headings.scss
  scss/base/_lists.scss
  scss/base/_media.scss
  scss/base/_reset.scss
  scss/base/_text-semantics.scss
  scss/base/_typography.scss
  scss/sauce.scss
Due: none

Add layouts
  scss/layouts/box/_index.scss
  scss/layouts/center/_index.scss
  scss/layouts/container/_index.scss
  scss/layouts/container/index.stories.mdx
  scss/layouts/frame/_index.scss
  scss/layouts/grid/_grid.scss
  scss/layouts/section/_index.scss
  scss/layouts/section/index.stories.mdx
  scss/layouts/stack/_index.scss
  scss/layouts/switcher/_index.scss
  scss/layouts/with-icon/_index.scss
  scss/layouts/with-sidebar/_index.scss
Due: none
