Repository RaspberryPiFoundation/sauce-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix

Create config.yml
  .circleci/config.yml
Due: none

Add babel-eslint package
  package-lock.json
  package.json
Due: prettier-package-json --write

Create main.js
  .storybook/main.js
Due: eslint --fix

Create preview-head.html
  .storybook/preview-head.html
Due: none

Create preview.js
  .storybook/preview.js
Due: eslint --fix

Stubs docs pages
  docs/02-design-principles.stories.mdx
  docs/foundations/01-typography.stories.mdx
  docs/foundations/02-spacing.stories.mdx
Due: none

Create 01-introduction.stories.mdx
  docs/01-introduction.stories.mdx
Due: none

Update .eslintrc
  .eslintrc
Due: none

Update main.js
  .storybook/main.js
Due: eslint --fix

Update preview.js
  .storybook/preview.js
Due: eslint --fix

Update package.json
  package.json
Due: prettier-package-json --write

Update package-lock.json
  package-lock.json
Due: none

Create playroom.config.js
  playroom.config.js
Due: eslint --fix

Create webpack.config.js
  webpack.config.js
Due: eslint --fix

Update button samples
  src/components/astro-pi/button/_index.scss
  src/components/astro-pi/button/button.stories.js
  src/components/astro-pi/button/button.stories.mdx
  src/components/base/button/button.examples.js
  src/components/base/button/button.stories.js
  src/components/base/button/button.stories.mdx
  src/components/base/button/index.stories.js
  src/components/base/button/whatevs.mdx
  src/components/base/card/_index.scss
  src/components/base/lede/_index.scss
  src/components/base/wysiwyg/_index.scss
  src/components/code-club/button/button.examples.js
  src/components/code-club/button/button.stories.js
  src/components/code-club/button/button.stories.mdx
  src/components/code-club/button/index.stories.js
  src/components/code-club/card/_index.scss
  src/components/coolest-projects/button/_index.scss
  src/components/coolest-projects/button/button.stories.js
  src/components/coolest-projects/button/button.stories.mdx
  src/components/index.js
  src/components/raspberry-pi/button/_index.scss
  src/components/raspberry-pi/button/button.stories.js
  src/components/raspberry-pi/button/button.stories.mdx
  src/mixins/_headings.scss
  src/mixins/_typography.scss
  src/tokens/base/_font-size.scss
  src/tokens/base/_spacing.scss
  src/tokens/raspberry-pi/_color-brand.scss
Due: eslint --fix

Update rpf-digital-design-system.scss
  src/rpf-digital-design-system.scss
Due: none

Add basic dev component status
  README.md
Due: none

Add a11y and Iñtérnâtïônàlizætiøn columns
  README.md
Due: none

One column too many
  README.md
Due: none

Update package name
  package-lock.json
  package.json
Due: prettier-package-json --write

Update Node version
  .tool-versions
Due: none

Update and lint package.json
  package-lock.json
  package.json
Due: prettier-package-json --write

Remove private flag
  package.json
Due: prettier-package-json --write

Can we do scopes with linked packages?
  package-lock.json
  package.json
Due: prettier-package-json --write

Do we need a “main”?
  package-lock.json
  package.json
Due: prettier-package-json --write

Add root index.js file
  index.js
  package.json
  src/index.js
  webpack.config.js
Due: prettier-package-json --write, eslint --fix

Publish to Github?
  index.js
  package.json
Due: prettier-package-json --write, eslint --fix

Update docs stubs
  docs/05-for-developers/00-getting-started.stories.mdx
  docs/05-for-developers/01-component-anatomy.stories.mdx
  docs/05-for-developers/01-dos-and-donts.stories.mdx
  docs/05-for-developers/03-development-environment-setup.stories.mdx
  docs/05-for-developers/04-creating-a-new-component.stories.mdx
Due: none

Update tooling
  .stylelintrc
  .tool-versions
  webpack.config.js
Due: eslint --fix

Add styles to preview
  .storybook/preview.js
Due: eslint --fix

Add and update some docs
  docs/01-introduction.stories.mdx
  docs/06-styles/layouts.stories.mdx
  docs/06-styles/responsive-breakpoints.stories.mdx
  docs/06-styles/typography.stories.mdx
Due: none

Add Renovate config
  .renovaterc
Due: none

Add stylelint
  package-lock.json
  package.json
Due: prettier-package-json --write

Update button link example
  src/components/raspberry-pi/button/button.stories.mdx
Due: none

Update tokens
  playroom.config.js
  src/components/code-club/button/button.stories.js
  src/components/code-club/button/button.stories.mdx
  src/components/code-club/button/index.stories.mdx
  src/components/raspberry-pi/button/_index.scss
  src/components/raspberry-pi/button/index.stories.js
  src/components/raspberry-pi/button/index.stories.mdx
  src/components/raspberry-pi/index.js
  src/components/raspberry-pi/type-hero-heading/_index.scss
  src/components/raspberry-pi/type-hero-heading/index.stories.mdx
  src/components/raspberry-pi/type-lead/_index.scss
  src/components/raspberry-pi/type-primary-heading copy/_index.scss
  src/components/raspberry-pi/type-secondary-heading/_index.scss
  src/elements/inline-text-semantics/a.scss
  src/elements/sectioning-root/body.scss
  src/primitives/_link.scss
  src/tokens/_border.scss
  src/tokens/_breakpoint.scss
  src/tokens/_color-greyscale.scss
  src/tokens/_font-family.scss
  src/tokens/_font-size.scss
  src/tokens/_font-weight.scss
  src/tokens/_line-height.scss
  src/tokens/_radius.scss
  src/tokens/_shadow.scss
  src/tokens/_spacing.scss
  src/tokens/_transition-duration.scss
  src/tokens/_transition-timing.scss
  src/tokens/code-club/_color-brand.scss
  src/tokens/raspberry-pi/_color-brand.scss
  src/tokens/raspberry-pi/_color-palette.scss
Due: eslint --fix

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,tsx}
