Repository RaspberryPiFoundation/sauce-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix

Update Circle config
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

Update npm scripts
  package.json
Due: prettier-package-json --write

Update Chromatic CI config
  .circleci/config.yml
  .storybook/sasdfmanager.js
Due: eslint --fix

Update chromatic package
  .storybook/main.js
  .storybook/manager.js
  .storybook/preview.js
  .storybook/sasdfmanager.js
  .storybook/sauce-theme.js
  package-lock.json
  package.json
Due: prettier-package-json --write, eslint --fix

Add react and react-dom packages
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier-package-json --write

Update Type component examples
  components/type/Type.js
  components/type/index.stories.mdx
  package-lock.json
  package.json
Due: prettier-package-json --write, eslint --fix

Update npm install command
  .circleci/config.yml
Due: none

Add brands to package json files
  package.json
  scss/base/_forms.scss
  scss/base/_lists.scss
  scss/primitives/_heading.scss
Due: prettier-package-json --write

Remove comments
  scss/mixins/layout/_frame.scss
Due: none

Revert to Node 12
  .circleci/config.yml
  .nvmrc
  .tool-versions
Due: none

update Storybook config
  .storybook/main.js
  .storybook/manager-head.html
  .storybook/preview.js
  .storybook/sauce-theme.js
Due: eslint --fix

Add storybook addons
  package-lock.json
  package.json
Due: prettier-package-json --write

Remove naked heading styles
  scss/base/_headings.scss
Due: none

Update spacing token and properties
  scss/properties/_spacing.scss
  scss/tokens/_spacing.scss
Due: none

Expose --font-size-ratio custom property
  scss/properties/_font-size.scss
Due: none

Stubs docs
  docs/accessibility-inclusion/01-design-values/index.stories.mdx
  docs/accessibility-inclusion/02-accessibility-guidelines/index.stories.mdx
  docs/accessibility-inclusion/03-browser-support/index.stories.mdx
  docs/design-principles.stories.mdx
  docs/design-process.stories.mdx
  docs/get-started/01-installation/index.stories.mdx
  docs/get-started/02-contributing/index.stories.mdx
  docs/index.stories.mdx
  docs/personas/index.stories.mdx
  docs/styles/01-custom-properties/index.stories.mdx
  docs/styles/02-typography/index.stories.mdx
  docs/styles/03-spacing/index.stories.mdx
  docs/styles/04-color/index.stories.mdx
Due: none

Update Type component example
  components/type/Type.js
  components/type/Type.stories.mdx
  components/type/index.stories.mdx
Due: eslint --fix

Update Node version in Docker container
  Dockerfile
  docker-compose.yml
Due: none

Remove example brand config
  brands/code-club-world/properties/color/_greyscale.scss
  brands/code-club-world/properties/color/_palette.scss
  brands/code-club-world/properties/color/index.scss
  brands/code-club/tokens/_color-brand.scss
Due: none

Correct iframe props for React
  docs/index.stories.mdx
Due: none

Fix imports
  docs/accessibility-inclusion/01-design-values/index.stories.mdx
  docs/accessibility-inclusion/02-accessibility-guidelines/index.stories.mdx
  docs/accessibility-inclusion/03-browser-support/index.stories.mdx
  docs/design-principles.stories.mdx
  docs/design-process.stories.mdx
  docs/get-started/01-installation/index.stories.mdx
  docs/get-started/02-contributing/index.stories.mdx
  docs/index.stories.mdx
  docs/personas/index.stories.mdx
  docs/styles/01-custom-properties/index.stories.mdx
  docs/styles/02-typography/index.stories.mdx
  docs/styles/03-spacing/index.stories.mdx
  docs/styles/04-color/index.stories.mdx
Due: none

Remove layout test file
  index.html
Due: none

Update mixins formatting
  scss/mixins/_clear.scss
  scss/mixins/_position.scss
  scss/mixins/_text-align.scss
  scss/mixins/media/viewport/index.scss
  scss/mixins/size/index.scss
  spec/mixins/media/viewport/viewport.spec.scss
  spec/mixins/size/size.spec.scss
Due: none

Fixed rasperry typo. Well embarrassing.
  brands/raspberry-pi-foundation/properties/color/_palette.scss
  brands/raspberry-pi-foundation/properties/color/index.scss
  scss/primitives/_heading.scss
Due: none

Install adr-tools via asdf
  .adr-dir
  .adr/0001-record-architecture-decisions.md
  .tool-versions
Due: none

Add ADR
  .adr/0002-use-storybook-for-documentation.md
Due: none

Remove Storybook
  .storybook/main.js
  .storybook/manager-head.html
  .storybook/manager.js
  .storybook/preview-head.html
  .storybook/preview.js
  .storybook/preview.scss
  .storybook/sauce-theme.js
  package.json
Due: prettier-package-json --write, eslint --fix

Update npm tooling
  package-lock.json
  package.json
Due: prettier-package-json --write

Add netlify toml config
  netlify.toml
Due: none

Add Fractal theme
  fractal.config.js
  fractal.theme.js
  public/favicon.svg
  theme/assets/fractal.css
  theme/assets/sauce.scss
  theme/views/partials/content/overview.nunj
  theme/views/partials/stylesheets.nunj
Due: eslint --fix

Update docs and components
  components/.keep
  components/_preview.hbs
  components/example/example.config.yml
  components/example/example.hbs
  components/type/Type.js
  components/type/Type.stories.mdx
  components/type/type.config.yml
  components/type/type.hbs
  docs/.keep
  docs/about-sauce/01-design-principles.md
  docs/about-sauce/02-design-process.md
  docs/about-sauce/about-sauce.config.yml
  docs/accessibility-inclusion/01-design-values/index.stories.mdx
  docs/accessibility-inclusion/02-accessibility-guidelines/index.stories.mdx
  docs/accessibility-inclusion/03-browser-support/index.stories.mdx
  docs/design-process.stories.mdx
  docs/get-started/01-installation.md
  docs/get-started/01-installation/index.stories.mdx
  docs/get-started/02-contributing.md
  docs/get-started/02-contributing/index.stories.mdx
  docs/get-started/get-started.config.yml
  docs/inclusive-design/01-design-values.md
  docs/inclusive-design/02-accessibility-guidelines.md
  docs/inclusive-design/03-browser-support.md
  docs/inclusive-design/04-personas.md
  docs/inclusive-design/inclusive-design.config.yml
  docs/index.stories.mdx
  docs/personas/index.stories.mdx
  docs/styles/01-custom-properties.md
  docs/styles/01-custom-properties/index.stories.mdx
  docs/styles/02-typography.md
  docs/styles/03-spacing.md
  docs/styles/04-color.md
  docs/styles/04-color/index.stories.mdx
  docs/styles/styles.config.yml
Due: eslint --fix

Move sauce.scss to fractal theme
  scss/sauce.scss
Due: none

Add dev tooling config
  .editorconfig
  .env
  .eslintignore
  .eslintrc.json
  .gitignore
  .lighthouserc
  .prettierrc
  .stylelintrc.json
  .tool-versions
  .vscode/extensions.json
  .vscode/settings.json
  Gulpfile.js
  babel.config.json
Due: eslint --fix

Remove test Docker config
  Dockerfile
  docker-compose.yml
Due: none

bump Node version in nvmrc
  .nvmrc
Due: none

Remove Chromatic tasks from Circle Config
  .circleci/config.yml
Due: none

Add static.mount config
  fractal.config.js
Due: eslint --fix

Remove `clean` task
  package-lock.json
  package.json
Due: prettier-package-json --write

Update README
  README.md
Due: none

Fix theme partials
  theme/views/partials/head.nunj
  theme/views/partials/stylesheets.nunj
Due: none

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,tsx}
