Repository RaspberryPiFoundation/sauce-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix

Typography docs
  .storybook/preview-head.html
  docs/06-styles/typography.stories.mdx
Due: none

I’m Kurtis Blow and I want you to know that these are the breaks
  docs/06-styles/typography.stories.mdx
  src/components/raspberry-pi/break/_index.scss
  src/components/raspberry-pi/break/index.stories.mdx
Due: none

Components and docs
  .storybook/main.js
  docs/00-home.stories copy.mdx
  docs/01-introduction.stories.mdx
  docs/02-design-principles.stories.mdx
  docs/03-personas.stories.mdx
  docs/04-roadmap.stories.mdx
  docs/05-for-developers/01-dos-and-donts.stories.mdx
  docs/06-styles/spacing.stories.mdx
  docs/for-developers/00-getting-started.stories.mdx
  docs/for-developers/01-dos-and-donts.stories.mdx
  docs/for-developers/02-contributing.stories.mdx
  docs/for-developers/03-development-environment-setup.stories.mdx
  docs/for-developers/04-creating-a-new-component.stories.mdx
  docs/for-developers/05-creating-a-new-release.stories.mdx
  docs/styles/01-typography.stories.mdx
  docs/styles/02-spacing.stories.mdx
  docs/styles/03-responsive-breakpoints.stories.mdx
  docs/styles/04-layouts.stories.mdx
  src/components/raspberry-pi/break/index.stories.mdx
  src/components/raspberry-pi/link/_index.scss
  src/components/raspberry-pi/link/index.stories.mdx
  src/components/raspberry-pi/publication/_index.scss
  src/components/raspberry-pi/publication/index.stories.mdx
  src/elements/text-content/_li.scss
  src/layouts/_index.scss
  src/layouts/block/_index.scss
  src/layouts/block/index.stories.mdx
  src/layouts/container/_index.scss
  src/layouts/container/index.stories.mdx
  src/layouts/section/index.stories.mdx
Due: eslint --fix

Stub layout stories
  .storybook/main.js
  src/layouts/block/index.stories.mdx
  src/layouts/container/index.stories.mdx
  src/layouts/section/index.stories.mdx
Due: eslint --fix

More docs!
  docs/styles/01-typography.stories.mdx
  docs/styles/02-spacing.stories.mdx
  docs/styles/04-layouts.stories.mdx
Due: none

Made the spacing and type-scale functionality more cleverer
  lib/_responsive-values.scss
  lib/_spacing.scss
  lib/_type-scale.scss
Due: none

Working on more examples
  src/components/code-club/button/index.stories.mdx
  src/components/raspberry-pi/break/index.stories.mdx
  src/components/raspberry-pi/card/_index.scss
  src/components/raspberry-pi/link/index.stories.mdx
  src/components/raspberry-pi/publication/index.stories.mdx
  src/elements/sectioning-root/_body.scss
  src/layouts/block/_index.scss
  src/layouts/block/images/christina-example.jpg
  src/layouts/block/images/coolest-projects-example.jpg
  src/layouts/block/index.stories.mdx
  src/layouts/container/_index.scss
  src/layouts/container/index.stories.mdx
  src/layouts/section/index.stories.mdx
  src/mixins/_margin.scss
  src/mixins/_padding.scss
  src/mixins/_type-scale.scss
  src/tokens/_font-size.scss
  src/tokens/_spacing.scss
Due: none

Expand docs to explain some decisions
  docs/styles/02-media-queries.stories.mdx
  docs/styles/03-responsive-breakpoints.stories.mdx
  docs/styles/03-spacing.stories.mdx
  docs/styles/04-layouts.stories.mdx
Due: none

Tidy up a bit
  lib/_responsive-values.scss
  src/components/raspberry-pi/publication/index.stories.mdx
  src/mixins/_device.scss
Due: none

No more Space Mono. Bye bye, friend.
  .storybook/preview-head.html
  docs/styles/01-typography.stories.mdx
  src/tokens/_font-family.scss
Due: none

Stop using device-specific breakpoints
  src/components/raspberry-pi/button/_index.scss
  src/primitives/_button.scss
Due: none

Use rem for min-width queries
  lib/_spacing.scss
  lib/_type-scale.scss
  src/mixins/_device.scss
Due: none

Add initial viewports to addon
  .storybook/preview.js
Due: eslint --fix

Add storybook-mobile addon
  .storybook/main.js
  package.json
Due: prettier-package-json --write, eslint --fix

Add postcss
  .browserslistrc
  .postcssrc
  .storybook/preview.js
  package-lock.json
  package.json
  webpack.config.js
Due: prettier-package-json --write, eslint --fix

Block progress, docs and mixins tweaks
  docs/styles/02-media-queries.stories.mdx
  lib/_spacing.scss
  lib/_type-scale.scss
  src/components/raspberry-pi/button/_index.scss
  src/layouts/block/_index.scss
  src/layouts/block/index.stories.mdx
  src/mixins/_device.scss
  src/primitives/_button.scss
  src/primitives/_link.scss
Due: none

Update postCSS config for Webpack
  .postcssrc
  webpack.config.js
Due: eslint --fix

Implement and document Image Block layout
  src/layouts/block/_index.scss
  src/layouts/block/images/christina-example.jpg
  src/layouts/block/images/coolest-projects-example.jpg
  src/layouts/image-block/_index.scss
  src/layouts/image-block/images/christina-example.jpg
  src/layouts/image-block/images/coolest-projects-example.jpg
  src/layouts/image-block/index.stories.mdx
Due: none

Update Image Block to reference responsive images
  src/layouts/image-block/images/christina-lg.jpg
  src/layouts/image-block/images/christina-md.jpg
  src/layouts/image-block/images/christina-sm.jpg
  src/layouts/image-block/images/coolest-projects-lg.jpg
  src/layouts/image-block/images/coolest-projects-md.jpg
  src/layouts/image-block/images/coolest-projects-sm.jpg
  src/layouts/image-block/index.stories.mdx
Due: none

Update image-block Sass reference
  src/layouts/_index.scss
Due: none

Fixed image block picture element containers
  src/layouts/image-block/_index.scss
  src/layouts/image-block/index.stories.mdx
Due: none

Tweak proportional image block grid
  src/layouts/image-block/_index.scss
Due: none

Add debug classname for image block component
  src/layouts/image-block/_index.scss
  src/layouts/image-block/images/christina-lg.jpg
  src/layouts/image-block/images/christina-md.jpg
  src/layouts/image-block/images/christina-sm.jpg
  src/layouts/image-block/images/coolest-projects-lg.jpg
  src/layouts/image-block/images/coolest-projects-md.jpg
  src/layouts/image-block/images/coolest-projects-sm.jpg
  src/layouts/image-block/index.stories.mdx
  src/layouts/section/index.stories.mdx
Due: none

Fix Image Block mobile bug
  src/layouts/image-block/_index.scss
  src/layouts/image-block/index.stories.mdx
Due: none

Update image block implementation
  src/layouts/image-block/_index.scss
  src/layouts/image-block/index.stories.mdx
Due: none

Add lib directory to npm dirs
  package.json
Due: prettier-package-json --write

Empty out entry file
  src/index.js
Due: eslint --fix

Add raspberry-pi components to index
  src/components/raspberry-pi/_index.scss
Due: none

Rename greyscale tokens
  src/components/raspberry-pi/button/_index.scss
  src/tokens/_color-greyscale.scss
Due: none

Boost specifity of screen-reader-only utility
  src/mixins/_utilities.scss
Due: none

Add subtle line break
  src/components/raspberry-pi/break/_index.scss
  src/components/raspberry-pi/break/index.stories.mdx
Due: none

Add dev env setup and local dev instructions to README
  README.md
Due: none

Add URL to README
  README.md
Due: none

Add video to intro page
  docs/01-introduction.stories.mdx
Due: none

Add flex and grid mixins
  lib/_spacing.scss
  src/mixins/_flex.scss
  src/mixins/_grid.scss
Due: none

Remove upper end of type scale (temporary change?)
  lib/_type-scale.scss
Due: none

Correct mq docs example
  docs/styles/02-media-queries.stories.mdx
Due: none

Update component and layout styles
  src/components/raspberry-pi/break/_index.scss
  src/components/raspberry-pi/link/_index.scss
  src/components/raspberry-pi/type/_index.scss
  src/components/raspberry-pi/type/index.stories.mdx
  src/components/raspberry-pi/type/meta/_index.scss
  src/components/raspberry-pi/type/primary-heading/_index.scss
  src/elements/text-content/_ol.scss
  src/elements/text-content/_ul.scss
  src/layouts/container/_index.scss
  src/layouts/image-block/index.stories.mdx
  src/layouts/section/_index.scss
  src/primitives/_heading.scss
  src/primitives/_link.scss
Due: none

Add section and container primitives
  src/primitives/_container.scss
  src/primitives/_section.scss
Due: none

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,tsx}
