Repository RaspberryPiFoundation/sauce-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix

.lintstagedrc:

{
  "package.json": "prettier-package-json --write",
  "*.{js,tsx}": "eslint --fix"
}

Update storybook
  package-lock.json
Due: none

Update node version
  .tool-versions
Due: none

Add spacing tokens
  src/tokens/_spacing.scss
Due: none

Add font size tokens
  src/tokens/_font-size.scss
Due: none

Add font-size mixins
  src/mixins/_font-size.scss
Due: none

Add font-size-static mixins
  src/mixins/_font-size-static.scss
Due: none

Update layout components
  src/layouts/container/_index.scss
  src/layouts/section/_index.scss
Due: none

Add “careful” warnings
  lib/_type-scale.scss
  lib/_warn.scss
Due: none

Add clamp lib
  lib/_clamp.scss
Due: none

Remove unused sass @use rules
  lib/_clamp.scss
  lib/_spacing.scss
  lib/_type-scale.scss
  lib/_validation.scss
Due: none

Revert "Update storybook"
  package-lock.json
Due: none

Revert "Update storybook"
  package.json
Due: prettier-package-json --write

Remove node engine
  package.json
Due: prettier-package-json --write

Remove flex
  src/elements/forms/_button.scss
  src/elements/inline-text-semantics/_a.scss
Due: none

use vw for font-size clamp targets
  src/tokens/_font-size.scss
Due: none

Swap clamp for apply
  lib/_value.scss
Due: none

remove font size static
  src/mixins/_font-size-static.scss
Due: none

rename static to fixex
  src/tokens/_font-size.scss
  src/tokens/_spacing.scss
Due: none

Add default static values
  src/mixins/_font-size.scss
Due: none

Fix if else
  lib/_value.scss
Due: none

Navigation related enhancements (#52)
  .tool-versions
  lib/_spacing.scss
  lib/_type-scale.scss
  lib/_validation.scss
  lib/_value.scss
  lib/_warn.scss
  package.json
  src/components/raspberry-pi/button/_index.scss
  src/components/raspberry-pi/link/_index.scss
  src/layouts/_index.scss
  src/layouts/container/_index.scss
  src/layouts/section/_index.scss
  src/mixins/_font-size.scss
  src/mixins/_layouts.scss
  src/tokens/_font-size.scss
  src/tokens/_spacing.scss
Due: prettier-package-json --write

Limit `fixed` output
  lib/_value.scss
Due: none

Suppress warnings
  lib/_type-scale.scss
  src/layouts/container/_index.scss
  src/layouts/section/_index.scss
  src/mixins/_margin.scss
  src/mixins/_padding.scss
Due: none

Remove warnings (#53)
  lib/_type-scale.scss
  lib/_value.scss
  src/layouts/container/_index.scss
  src/layouts/section/_index.scss
  src/mixins/_margin.scss
  src/mixins/_padding.scss
Due: none

Add column-gap and row-gap as valid spacing properties (#51)
  lib/_spacing.scss
Due: none

Update all dependencies
  package-lock.json
  package.json
Due: prettier-package-json --write

Update HTML attrs
  docs/01-introduction.stories.mdx
  src/components/code-club/button/index.stories.mdx
  src/components/raspberry-pi/break/index.stories.mdx
  src/components/raspberry-pi/button/index.stories.mdx
  src/components/raspberry-pi/card/index.stories.mdx
  src/components/raspberry-pi/image-block/index.stories.mdx
  src/components/raspberry-pi/link/index.stories.mdx
  src/components/raspberry-pi/publication/index.stories.mdx
  src/components/raspberry-pi/type/index.stories.mdx
  src/layouts/container/index.stories.mdx
  src/layouts/section/index.stories.mdx
Due: none

Remove HTML addon decorator
  .storybook/preview.js
Due: eslint --fix

Create release for alpha 9
  package-lock.json
  package.json
Due: prettier-package-json --write

Create release for alpha 9 (#54)
  package-lock.json
  package.json
Due: prettier-package-json --write

Update link primitives
  src/primitives/_link.scss
Due: none

Update default link styles
  src/elements/inline-text-semantics/_a.scss
Due: none

Update default links
  src/elements/inline-text-semantics/_a.scss
Due: none

Update RP links and stories
  src/components/raspberry-pi/link/_index.scss
  src/components/raspberry-pi/link/index.stories.mdx
Due: none

Remove margin from body
  src/elements/sectioning-root/_body.scss
Due: none

Update clamp values
  src/tokens/_font-size.scss
  src/tokens/_spacing.scss
Due: none

Correct clamp output
  lib/_value.scss
Due: none

update typography doc
  docs/styles/01-typography.stories.mdx
Due: none

Bump version to alpha 10
  package.json
Due: prettier-package-json --write

Update package lock
  package-lock.json
Due: none
