Repository RaspberryPiFoundation/sauce-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix

.lintstagedrc:

{
  "package.json": "prettier-package-json --write",
  "*.{js,tsx}": "eslint --fix"
}

Use Section and Container primitives
  src/layouts/container/_index.scss
  src/layouts/image-block/_index.scss
  src/layouts/section/_index.scss
Due: none

Lint mdx files
  src/components/code-club/button/index.stories.mdx
  src/components/raspberry-pi/break/index.stories.mdx
  src/components/raspberry-pi/button/index.stories.mdx
  src/components/raspberry-pi/card/index.stories.mdx
  src/components/raspberry-pi/link/index.stories.mdx
  src/components/raspberry-pi/publication/index.stories.mdx
  src/layouts/container/index.stories.mdx
  src/layouts/image-block/index.stories.mdx
  src/layouts/section/index.stories.mdx
Due: none

Relax node version to allow easier install elsewhere
  package.json
Due: prettier-package-json --write

Make JSON valid
  .eslintrc
Due: none

Fix image block classNames
  src/layouts/image-block/_index.scss
  src/layouts/image-block/index.stories.mdx
Due: none

Remove section and container primitives - figure that out when we get to layouts
  src/components/raspberry-pi/break/_index.scss
  src/layouts/container/_index.scss
  src/layouts/image-block/_index.scss
  src/layouts/section/_index.scss
  src/primitives/_container.scss
  src/primitives/_section.scss
Due: none

Update node version and deps
  .circleci/config.yml
  .tool-versions
  README.md
  package-lock.json
  package.json
Due: prettier-package-json --write

Fix className on Block component
  src/layouts/image-block/index.stories.mdx
Due: none

Move Image Block to RP as component #14
  src/components/raspberry-pi/image-block/_index.scss
  src/components/raspberry-pi/image-block/images/christina-lg.jpg
  src/components/raspberry-pi/image-block/images/christina-md.jpg
  src/components/raspberry-pi/image-block/images/christina-sm.jpg
  src/components/raspberry-pi/image-block/images/coolest-projects-lg.jpg
  src/components/raspberry-pi/image-block/images/coolest-projects-md.jpg
  src/components/raspberry-pi/image-block/images/coolest-projects-sm.jpg
  src/components/raspberry-pi/image-block/index.stories.mdx
Due: none

Make 'Image Block' more authoritative in docs
  src/components/raspberry-pi/image-block/index.stories.mdx
Due: none

Fix image block paths/meta
  src/components/raspberry-pi/image-block/index.stories.mdx
  src/layouts/_index.scss
Due: none

Add image-block to rp/component index
  src/components/raspberry-pi/_index.scss
Due: none

Bump package version
  package.json
Due: prettier-package-json --write

Auto-generate bumped package version
  package-lock.json
Due: none

Move Image Block to RP as component (#15)
  package-lock.json
  package.json
  src/components/raspberry-pi/_index.scss
  src/components/raspberry-pi/image-block/_index.scss
  src/components/raspberry-pi/image-block/images/christina-lg.jpg
  src/components/raspberry-pi/image-block/images/christina-md.jpg
  src/components/raspberry-pi/image-block/images/christina-sm.jpg
  src/components/raspberry-pi/image-block/images/coolest-projects-lg.jpg
  src/components/raspberry-pi/image-block/images/coolest-projects-md.jpg
  src/components/raspberry-pi/image-block/images/coolest-projects-sm.jpg
  src/components/raspberry-pi/image-block/index.stories.mdx
  src/layouts/_index.scss
Due: prettier-package-json --write

Add Jest and True
  jest.config.js
  package-lock.json
  package.json
Due: prettier-package-json --write, eslint --fix

Add validation lib file
  lib/_validation.scss
Due: none

Update spacing lib file
  lib/_spacing.scss
Due: none

Update responsive values lib file
  lib/_responsive-values.scss
Due: none

Add True to Sass includePaths
  webpack.config.js
Due: eslint --fix

Add support for logical properties in mixins
  src/mixins/_border.scss
  src/mixins/_clear.scss
  src/mixins/_float.scss
  src/mixins/_margin.scss
  src/mixins/_padding.scss
  src/mixins/_position.scss
  src/mixins/_radius.scss
  src/mixins/_size.scss
  src/mixins/_text-align.scss
Due: none

Implement updated mixins
  docs/styles/03-spacing.stories.mdx
  src/components/raspberry-pi/image-block/_index.scss
  src/layouts/container/_index.scss
  src/primitives/_button.scss
Due: none

Add specs OH YES
  .stylelintrc
  spec/lib/validation.spec.scss
  spec/spec.js
  spec/spec_helper.scss
Due: eslint --fix

Correct stylelint config
  .stylelintrc
Due: none

Update Circle Config
  .circleci/config.yml
Due: none

Add test-ci script
  package.json
Due: prettier-package-json --write

Remove unused ENV var
  .circleci/config.yml
Due: none

Add build step to Circle config
  .circleci/config.yml
Due: none

Correct YAML indentation
  .circleci/config.yml
Due: none

Remove storybook build
  .circleci/config.yml
Due: none

Add workflows thing
  .circleci/config.yml
Due: none

Reorganise specs
  spec/lib/validation/no-shorthand.spec.js
  spec/lib/validation/no-shorthand.spec.scss
  spec/lib/validation/shorthand-present.spec.js
  spec/lib/validation/shorthand-present.spec.scss
  spec/spec.js
  spec/spec_helper.js
Due: eslint --fix

Provide alias for spec_helper
  jest.config.js
  spec/lib/validation/no-shorthand.spec.js
  spec/lib/validation/shorthand-present.spec.js
  spec/spec_helper.scss
Due: eslint --fix

Stylelint config tweak
  .stylelintrc
Due: none

Correct order of logical properties
  src/mixins/_border.scss
  src/mixins/_size.scss
Due: none

Add list.reset mixin
  src/mixins/_list.scss
  src/mixins/_margin.scss
  src/mixins/_padding.scss
Due: none

Add warning to layouts index
  src/layouts/_index.scss
Due: none

Another stylelint tweak
  .stylelintrc
Due: none

Refine SpecHelper implementation
  jest.config.js
  spec/SpecHelper.js
  spec/lib/validation/no-shorthand.spec.js
  spec/lib/validation/shorthand-present.spec.js
Due: eslint --fix
