Repository RaspberryPiFoundation/sauce-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix

.lintstagedrc:

{
  "package.json": "prettier-package-json --write",
  "*.{js,tsx}": "eslint --fix"
}

Remove unused storybook addons
  package.json
Due: prettier-package-json --write

Remove dupe storybook implementation
  package.json
Due: prettier-package-json --write

Generate package lock
  package-lock.json
Due: none

Update playroom location
  playroom.config.js
Due: eslint --fix

Put HTML decorator back
  .storybook/preview.js
Due: eslint --fix

Let’s not with Playroom for now yeah
  .circleci/config.yml
  .storybook/preview.js
  package.json
Due: prettier-package-json --write, eslint --fix

Turns out we need the workspace stuff
  .circleci/config.yml
Due: none

Add nvmrc for Netlify
  .nvmrc
Due: none

Reset Break component following debugging
  src/components/raspberry-pi/break/index.stories.mdx
Due: none

Update npm scripts
  package.json
Due: prettier-package-json --write

Bump version to 1.0.0-alpha.2
  package-lock.json
  package.json
Due: prettier-package-json --write

Specify master for Chromatic auto-accept thing
  .circleci/config.yml
Due: none

Update Chromatic build CI flag
  .circleci/config.yml
Due: none

Bump version to 1.0.0-alpha.2 (#19)
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier-package-json --write

Specify sass-true as peer dependency & bump version to 1.0.0-alpha.3
  package-lock.json
  package.json
Due: prettier-package-json --write

Update Chromatic config in CI
  .circleci/config.yml
Due: none

Change chromatic test flag
  .circleci/config.yml
Due: none

Update Chromatic scripts
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

Fix circle jobs config
  .circleci/config.yml
Due: none

Specify sass-true as peer dependency (#20)
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier-package-json --write

Pin dependencies
  package.json
Due: prettier-package-json --write

Use internal breakpoints of padding helper
  src/primitives/_button.scss
Due: none

Alphabetise ALL TEH THINGZ
  src/primitives/_button.scss
Due: none

Use internal breakpoints of padding helper (#23)
  src/primitives/_button.scss
Due: none

Cut it out with your font-weight shenanigans. You’re a link lmao calm down.
  src/elements/text-content/_p.scss
  src/primitives/_link.scss
Due: none

Cut it out with your font-weight shenanigans. You’re a link lmao calm down. (#24)
  src/elements/text-content/_p.scss
  src/primitives/_link.scss
Due: none

Guess who forgot to bump the version number
  package-lock.json
  package.json
Due: prettier-package-json --write

Guess who forgot to bump the version number (#25)
  package-lock.json
  package.json
Due: prettier-package-json --write

Fix image-block picture source order
  src/components/raspberry-pi/image-block/index.stories.mdx
Due: none

Update component modifiers implementation for namespace compatibility
  src/components/raspberry-pi/image-block/_index.scss
Due: none

Bump version to 1.0.0-alpha.6
  package-lock.json
  package.json
Due: prettier-package-json --write

Fix image block (#26)
  package-lock.json
  package.json
  src/components/raspberry-pi/image-block/_index.scss
  src/components/raspberry-pi/image-block/index.stories.mdx
Due: prettier-package-json --write

Update button hover styles
  src/components/raspberry-pi/button/_index.scss
  src/mixins/_device.scss
  src/primitives/_button.scss
Due: none

Update Storybook and addons
  package-lock.json
  package.json
Due: prettier-package-json --write

Update config
  .storybook/main.js
Due: eslint --fix

Add styling to body
  .storybook/preview-body.html
Due: none

Update docs title delimeters
  docs/01-introduction.stories.mdx
  docs/02-design-principles.stories.mdx
  docs/03-personas.stories.mdx
  docs/04-roadmap.stories.mdx
  docs/for-developers/00-getting-started.stories.mdx
  docs/for-developers/01-dos-and-donts.stories.mdx
  docs/for-developers/02-contributing.stories.mdx
  docs/for-developers/03-development-environment-setup.stories.mdx
  docs/for-developers/04-creating-a-new-component.stories.mdx
  docs/for-developers/05-creating-a-new-release.stories.mdx
  docs/styles/01-typography.stories.mdx
  docs/styles/02-media-queries.stories.mdx
  docs/styles/03-spacing.stories.mdx
  docs/styles/04-layouts.stories.mdx
  src/components/code-club/button/index.stories.mdx
  src/components/raspberry-pi/break/index.stories.mdx
  src/components/raspberry-pi/button/index.stories.mdx
  src/components/raspberry-pi/card/index.stories.mdx
  src/components/raspberry-pi/image-block/index.stories.mdx
  src/components/raspberry-pi/link/index.stories.mdx
  src/components/raspberry-pi/publication/index.stories.mdx
  src/components/raspberry-pi/type/index.stories.mdx
  src/layouts/container/index.stories.mdx
  src/layouts/section/index.stories.mdx
Due: none

Update button width
  src/components/raspberry-pi/button/_index.scss
  src/primitives/_button.scss
Due: none

Update button hover styles (#30)
  src/components/raspberry-pi/button/_index.scss
  src/mixins/_device.scss
  src/primitives/_button.scss
Due: none
