Repository RaspberryPiFoundation/sauce-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix

.lintstagedrc:

{
  "package.json": "prettier-package-json --write",
  "*.{js,tsx}": "eslint --fix"
}

Remove more empty selectors
  src/elements/forms/_label.scss
  src/elements/forms/_legend.scss
  src/elements/forms/_meter.scss
Due: none

Make layouts warning easier to read
  src/layouts/_index.scss
Due: none

Fix image block
  src/components/raspberry-pi/image-block/_index.scss
Due: none

Allow use of true’s “throw” mixins in dev
  lib/_throw.scss
  lib/_validation.scss
Due: none

Change linting dependency inclusion policy
  package-lock.json
  package.json
Due: prettier-package-json --write

Fix logical properties
  docs/styles/03-spacing.stories.mdx
  src/components/raspberry-pi/image-block/_index.scss
  src/layouts/container/_index.scss
  src/mixins/_border.scss
  src/mixins/_margin.scss
  src/mixins/_padding.scss
  src/mixins/_position.scss
  src/mixins/_radius.scss
  src/mixins/_size.scss
  src/primitives/_button.scss
Due: none

Add warn mixins
  lib/_warn.scss
Due: none

Add build-storybook.log to gitignore
  .gitignore
Due: none

Add CHROMATIC_PROJECT_TOKEN env var
  .env
Due: none

Add Chromatic test to Circle CI config
  .circleci/config.yml
Due: none

Add chromatic package and scripts
  package-lock.json
  package.json
Due: prettier-package-json --write

Style CC button for test
  src/components/code-club/button/_index.scss
  src/primitives/_heading.scss
Due: none

Update CircleCI script
  .circleci/config.yml
Due: none

Move true to regular dependencies
  package-lock.json
  package.json
Due: prettier-package-json --write

Fix reference to True’s “throw” mixins
  lib/_throw.scss
Due: none

Update chromatic script invocation
  .circleci/config.yml
Due: none

Tidied package-json scripts
  package.json
Due: prettier-package-json --write

Update storybook-build output location
  .gitignore
Due: none

Update build-storybook script
  package.json
Due: prettier-package-json --write

Updated chromatic scripts
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

Add CHROMATIC_APP_CODE
  .env
Due: none

Add chromatic orb to CircleCI config
  .circleci/config.yml
Due: none

Fix Circle config. THANKS YAML
  .circleci/config.yml
Due: none

Add workflows version
  .circleci/config.yml
Due: none

Rename Circle workflow
  .circleci/config.yml
Due: none

Expanded CircleCI config
  .circleci/config.yml
Due: none

YAML is a bit rubbish, isn’t it?
  .circleci/config.yml
Due: none

Add CircleCI executors config
  .circleci/config.yml
Due: none

Set order of CircleCI jobs
  .circleci/config.yml
Due: none

Add working_directory value
  .circleci/config.yml
Due: none

how about now?
  .circleci/config.yml
Due: none

Streamline CircleCI config
  .circleci/config.yml
Due: none

Make circle checkout before test
  .circleci/config.yml
Due: none

More Circle STUFF
  .circleci/config.yml
Due: none

Remove old version of chromatic
  package-lock.json
  package.json
Due: prettier-package-json --write

Let’s try this again?
  .circleci/config.yml
Due: none

Test alternative Story format
  src/components/raspberry-pi/break/index.stories.mdx
Due: none

Update deps why not
  package-lock.json
  package.json
Due: prettier-package-json --write

Is it this thing?
  .storybook/preview.js
Due: eslint --fix

Remove chromatic debug flag
  package.json
Due: prettier-package-json --write
