Repository RaspberryPiFoundation/sauce-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix

Remove test Docker config
  Dockerfile
  docker-compose.yml
Due: none

Remove a .keep file
  docs/.keep
Due: none

Mark package-lock.json as generated in .gitattributes
  .gitattributes
Due: none

Change version number to 1.0.0-beta.1
  package-lock.json
  package.json
Due: prettier-package-json --write

Fix theme styles
  .vscode/settings.json
  package-lock.json
  package.json
  theme/assets/fractal.css
  theme/assets/sauce.scss
Due: prettier-package-json --write

Update dependabot config
  .github/dependabot.yml
Due: none

Remove code spell checker
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Don't "bundle" css
  netlify.toml
Due: none

Remove colons from type variant names
  components/type/type.config.yml
  netlify.toml
  package.json
Due: prettier-package-json --write

Fix netlify config
  netlify.toml
Due: none

Build gulp first?
  package.json
Due: prettier-package-json --write

Add ADR for documentation website
  .adr/0002-documentation-website.md
  .adr/0002-use-storybook-for-documentation.md
Due: none

Stub ADR for Design Tokens
  .adr/0003-design-tokens.md
Due: none

Swap template engine to Nunjucks
  components/_preview.njk
  components/example/example.njk
  components/type/type.hbs
  components/type/type.njk
  fractal.config.js
  package-lock.json
  package.json
Due: prettier-package-json --write, eslint --fix

Use nunj extension
  components/_preview.nunj
  components/example/example.nunj
  components/type/type.nunj
  fractal.config.js
Due: eslint --fix

Update syntax highlighting
  fractal.theme.js
Due: eslint --fix

Update panels config
  fractal.theme.js
Due: eslint --fix

Rename Type
  components/type/type.config.yml
Due: none

Lint Markdown
  README.md
Due: none

Add partial overrides for controls and resources
  theme/views/partials/browser/controls.nunj
  theme/views/partials/browser/panel-resources.nunj
Due: none

Enable VS Code bracket pair colorisation
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Add astro-pi fonts
  brands/astro-pi/fonts/notes_esa.woff
  brands/astro-pi/fonts/notes_esa.woff2
  brands/astro-pi/fonts/notes_esa_bold.woff
  brands/astro-pi/fonts/notes_esa_bold.woff2
Due: none

Add astro-pi properties
  brands/astro-pi/properties/_border-width.scss
  brands/astro-pi/properties/_color.scss
  brands/astro-pi/properties/_font-family.scss
  brands/astro-pi/properties/color/_background.scss
  brands/astro-pi/properties/color/_border.scss
  brands/astro-pi/properties/color/_outline.scss
  brands/astro-pi/properties/color/_palette.scss
  brands/astro-pi/properties/color/_text.scss
Due: none

Update raspberry-pi properties
  brands/raspberry-pi-foundation/.keep
  brands/raspberry-pi-foundation/properties/_document-root.scss
  brands/raspberry-pi-foundation/properties/_font-size.scss
  brands/raspberry-pi-foundation/properties/color/_greyscale.scss
  brands/raspberry-pi-foundation/properties/color/_palette.scss
  brands/raspberry-pi-foundation/properties/color/index.scss
  brands/raspberry-pi/properties/_border-width.scss
  brands/raspberry-pi/properties/_color.scss
  brands/raspberry-pi/properties/_font-family.scss
  brands/raspberry-pi/properties/color/_background.scss
  brands/raspberry-pi/properties/color/_border.scss
  brands/raspberry-pi/properties/color/_outline.scss
  brands/raspberry-pi/properties/color/_palette.scss
  brands/raspberry-pi/properties/color/_text.scss
Due: none

Remove raspberry-pi-trading
  brands/raspberry-pi-trading/.keep
Due: none

Update netlify dev config
  netlify.toml
Due: none

Pin nunjucks version
  package-lock.json
Due: none

Update component statuses
  fractal.config.js
Due: eslint --fix

Update sass and Fractal preview
  scss/base/_buttons.scss
  scss/base/_document-root.scss
  scss/base/_forms.scss
  scss/base/_links.scss
  scss/mixins/_helpers.scss
  scss/mixins/device/_category.scss
  scss/primitives/_button.scss
  scss/primitives/_heading.scss
  scss/primitives/_link.scss
  scss/properties/_color.scss
  scss/properties/_font-family.scss
  scss/properties/_font-size.scss
  scss/properties/_spacing.scss
  scss/properties/_transition-timing.scss
  scss/properties/color/_greyscale.scss
  scss/properties/color/_palette.scss
  scss/properties/color/index.scss
  theme/assets/sauce.scss
Due: none

Update brand styles import
  brands/astro-pi/index.scss
  brands/raspberry-pi/index.scss
  theme/assets/sauce.scss
Due: none

Enable theme switching in preview
  components/_preview.nunj
  theme/views/partials/pen/header.nunj
Due: none

Move astro-pi fonts
  public/fonts/astro-pi/notes_esa.woff
  public/fonts/astro-pi/notes_esa.woff2
  public/fonts/astro-pi/notes_esa_bold.woff
  public/fonts/astro-pi/notes_esa_bold.woff2
Due: none

Update theme config
  fractal.theme.js
Due: eslint --fix

Remove unused comment
  scss/properties/_font-family.scss
Due: none

Add theme switcher
  theme/assets/fractal.css
  theme/assets/sauce.scss
  theme/assets/theme-switcher.css
  theme/assets/theme-switcher.js
  theme/views/partials/browser/controls.nunj
  theme/views/partials/browser/panel-resources.nunj
  theme/views/partials/header.nunj
  theme/views/partials/pen/header.nunj
  theme/views/theme_switcher.nunj
Due: eslint --fix

Update example components
  components/button/button.config.yml
  components/button/button.nunj
  components/example/example.config.yml
  components/example/example.nunj
  components/type/type.config.yml
  components/type/type.nunj
Due: none

Add theme to preview
  components/_preview.nunj
Due: none

Add README to astro pi brand
  brands/astro-pi/.keep
  brands/astro-pi/README.md
  brands/astro-pi/properties/_font-family.scss
Due: none

Add some button docs
  components/button/README.md
Due: none

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,tsx}
