Repository RaspberryPiFoundation/sauce-design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, eslint --fix

Add build debug info to README
  README.md
Due: none

Add build:debug script to npm
  package.json
Due: prettier-package-json --write

Remove file extension config
  fractal.config.js
Due: eslint --fix

Fix favicon and styles references
  components/_preview.hbs
Due: none

Enable static assets in theme
  fractal.theme.js
Due: eslint --fix

Fix theme static assets config
  fractal.theme.js
  theme/assets/favicon.svg
Due: eslint --fix

Clarify Node version requirements in README
  README.md
Due: none

Update Circle config to use an Orb
  .circleci/config.yml
Due: none

Update and pin all dependencies
  package-lock.json
  package.json
Due: prettier-package-json --write

Update node image version in Circle config
  .circleci/config.yml
Due: none

Configure LTS as node version ot install on Circle
  .circleci/config.yml
Due: none

Add postcss
  package-lock.json
  package.json
Due: prettier-package-json --write

Skip node install and just install dependencies
  .circleci/config.yml
Due: none

Update jest config
  .gitignore
  jest.config.js
  package-lock.json
  package.json
Due: prettier-package-json --write, eslint --fix

Remove test nofifier
  jest.config.js
  package-lock.json
  package.json
Due: prettier-package-json --write, eslint --fix

Testing old circle config
  .circleci/config.yml
Due: none

Use lts-browsers for circle config
  .circleci/config.yml
Due: none

Use node orb to run test
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

Updated config.yml
  .circleci/config.yml
Due: none

Just use the old config
  .circleci/config.yml
Due: none

Add ci test command
  package.json
Due: prettier-package-json --write

Add engines
  package.json
Due: prettier-package-json --write

Format package.json
  package.json
Due: prettier-package-json --write

Treat package-lock as binary in Git
  .gitattributes
Due: none

Remove gulp-webserver
  Gulpfile.js
Due: eslint --fix

Add http-server
  package-lock.json
  package.json
Due: prettier-package-json --write

Update README a bit
  README.md
Due: none

Add Type variants
  components/type/type.config.yml
  components/type/type.hbs
Due: none

Update Fractal default context
  fractal.config.js
Due: eslint --fix

Add test type README
  components/type/README.md
Due: none

Update Fractal theme
  fractal.theme.js
Due: eslint --fix

Remove examples from type notes
  components/type/README.md
Due: none

Remove Sass vars
  scss/tokens/_border-radius.scss
  scss/tokens/_border-width.scss
  scss/tokens/_color-greyscale.scss
  scss/tokens/_device.scss
  scss/tokens/_font-family.scss
  scss/tokens/_font-size.scss
  scss/tokens/_font-weight.scss
  scss/tokens/_line-height.scss
  scss/tokens/_spacing.scss
  scss/tokens/_transition-duration.scss
  scss/tokens/_transition-timing.scss
  scss/tokens/_type.scss
Due: none

Update properties
  scss/properties/_border-radius.scss
  scss/properties/_border-width.scss
  scss/properties/_device.scss
  scss/properties/_font-family.scss
  scss/properties/_font-size.scss
  scss/properties/_font-weight.scss
  scss/properties/_line-height.scss
  scss/properties/_spacing.scss
  scss/properties/_transition-duration.scss
  scss/properties/_transition-timing.scss
  scss/properties/color/_greyscale.scss
Due: none

Move layouts
  scss/layouts/_box.scss
  scss/layouts/_center.scss
  scss/layouts/_frame.scss
  scss/layouts/_grid.scss
  scss/layouts/_stack.scss
  scss/layouts/_with-icon.scss
  scss/layouts/_with-sidebar.scss
  scss/layouts/index.scss
  scss/mixins/layout/_center.scss
  scss/mixins/layout/_with-sidebar.scss
Due: none

Reorganise media query mixins
  scss/mixins/_media.scss
  scss/mixins/device/_category.scss
  scss/mixins/device/_hover.scss
  scss/mixins/device/_pointer.scss
  scss/mixins/device/index.scss
  scss/mixins/media/device/_category.scss
  scss/mixins/preferences/_color-scheme.scss
  scss/mixins/preferences/_contrast.scss
  scss/mixins/preferences/_motion.scss
  scss/mixins/preferences/_transparency.scss
  scss/mixins/screen/_resolution.scss
  scss/mixins/viewport/_aspect-ratio.scss
  scss/mixins/viewport/_height.scss
  scss/mixins/viewport/_orientation.scss
  scss/mixins/viewport/_width.scss
  scss/mixins/viewport/index.scss
Due: none

Remove unnecessary mixins
  scss/mixins/_clear.scss
  scss/mixins/_flex.scss
  scss/mixins/_float.scss
  scss/mixins/_gap.scss
  scss/mixins/_grid.scss
  scss/mixins/_logical-properties.scss
  scss/mixins/_margin.scss
  scss/mixins/_padding.scss
  scss/mixins/_position.scss
  scss/mixins/_text-align.scss
  scss/mixins/border/_color.scss
  scss/mixins/border/_radius.scss
  scss/mixins/border/_style.scss
  scss/mixins/border/_width.scss
  scss/mixins/border/index.scss
  scss/mixins/size/_height.scss
  scss/mixins/size/_width.scss
  scss/mixins/size/index.scss
Due: none

Remove references to tokens and removed mixins
  scss/base/_layouts.scss
  scss/base/_lists.scss
  scss/mixins/_helpers.scss
  scss/primitives/_block-type.scss
  scss/primitives/_button.scss
  scss/primitives/_heading.scss
  scss/sauce.scss
Due: none

Stop storybook from using cache in dev mode
  package.json
Due: prettier-package-json --write

Path conditions:
  prettier-package-json --write: any of: package.json
  eslint --fix: any of: *.{js,tsx}
